<!doctype html>
<html lang="en">

<head>
    {include file="common/header" /}
</head>

<body>
<div class="x-body">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">
                真实姓名：
            </label>
            <div class="layui-input-inline">
                <input type="text" name="admin_truename" value="<?php if(isset($admin_info)):?><?php echo $admin_info['admin_truename'];?><?php endif;?>" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>原密码：
            </label>
            <div class="layui-input-inline">
                <input type="password" name="old_password" placeholder="请输入原密码..." lay-verify="required" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>新密码：
            </label>
            <div class="layui-input-inline">
                <input type="password" name="new_password" placeholder="请输入新密码..." lay-verify="required|new_password" autocomplete="off" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到12个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>确认密码：
            </label>
            <div class="layui-input-inline">
                <input type="password" name="rep_new_password" placeholder="请输入确认密码..." lay-verify="required|rep_new_password" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <button  class="layui-btn" lay-filter="save" lay-submit="">
                确定保存
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            new_password: [/(.+){6,12}$/, '密码必须6到12位'],
            rep_new_password: function(value){
                if(value != $("input[name='new_password']").val()){
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(save)', function(data){
            var old_password = $("input[name='old_password']").val();
            var new_password = $("input[name='new_password']").val();

            var post_url = "{:url('common/changePassword')}";
            var post_data = {"old_password":old_password,"new_password":new_password};
            var index = layer.load(1, {
                shade: [0.5,'#fff'] //0.1透明度的白色背景
            });
            $.ajax({
                type : "POST",
                url : post_url,
                data:post_data,
                dataType:'json',
                success : function(result){
                    layer.close(index);
                    if(result.status == 500){
                        layer.msg(result.msg, {icon: 5});
                    }else if(result.status == 200){
                        layer.msg(result.msg, {icon: 6},function () {
                            parent.window.location.href = result.referr_url;
                        });
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>