<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="{:url('index/index')}">XXX-管理系统</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" id="top_admin_truename">{:session('admin.admin_truename')}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','{:url("common/personalProfile")}',600,400)">个人信息</a></dd>
                <dd><a onclick="x_admin_show('更改密码','{:url("common/changePassword")}',600,400)">更改密码</a></dd>
                <dd><a href="{:url('common/logout')}">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->